*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--x: 0;
	--y: 0;
	--xp: 0;
	--yp: 0;
	--hue: calc(0 + (var(--xp) * 500));
	--bg: hsl(0 0% 10%);
	--size: 100px;
	--glow: radial-gradient(50% 50% at center,
			hsl(var(--hue) 80% 85%),
			hsl(var(--hue) 80% 70%),
			transparent) calc((var(--x) * 1px) - (var(--size) * 0.5)) calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;
}


body { 
    background-color: #f0f0f0; /* Light gray background */
    font-family: 'Courier New'; /* my favorite font */
    margin: 0px; /* Remove default body margin */
    padding: 20px; /* Add some padding around the content */
    text-align: center;
}

h1 {
    color: #333; /* Dark gray heading text */
    text-align: center; /* Center the heading */
    margin-bottom: 40px;
   
}

p {
    line-height: 1.6; /* Improve readability of paragraphs */
    
}

#quoteDisplay { 
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
}

/* this adds the glowing hover effect to the button */


button { 
    margin-top: 40px;
    border-radius: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1ch;
	background: var(--bg);
	border: 4px solid transparent;
	box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
	cursor: pointer;
	background:
		linear-gradient(var(--bg), var(--bg)) padding-box,
		var(--glow),
		linear-gradient(black, black) border-box;
	transition: background-size 0.24s;
	touch-action: none;
	position: relative;
	padding: 1rem 2rem;
    
  
    
}
button::before {
	content: "New Quote";  /* add your text here */
	position: center;
	inset: 0;
	box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
	background: var(--bg);
	z-index: 2;
	border-radius: 1rem;
    color: rgba(0, 204, 255, 0.497);
}


button span {
	background: var(--glow), black;
	background-clip: text;
	color: transparent;
	height: 100%;
	width: 100%;
	z-index: 2;
	position: relative;
	inset: 0;

}
:root:has(button:active) {
	--size: 300px;
}
button::after {
	content: "New Quote";    /* add your text here */
	position: absolute;
	inset: -4px;
	filter: blur(20px);
	border: 4px solid transparent;
	background: var(--glow);
	border-radius: 1rem;
    
}
    
